@import "bootstrap/dist/css/bootstrap.min.css";
.button-container {
  display: inline-flex; /* Use inline-flex to display button and spinner in the same line */
  align-items: center; /* Align items vertically center */
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.img {
  cursor: pointer;
  height: auto;
}